*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
 font-family: sans-serif;  
}
body
{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 50px; 
}
.container .left_side
{
    position: relative;
    background-color: #003147;
    padding: 25px;
}
.container .right_side
{
    position: relative;
    background-color: #fff;
    padding: 40px;
}
.portext
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255, 255, 0.2);
}
.portext h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.portext h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.portext .imgbx
{
    align-items: center;
   position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.portext .imgbx img
{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: fill;
}
.contact
{
    margin-top: 40px;
}
.titel
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;    
}
.contact ul
{
    position: relative;
}
.contact ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contact ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(44, 226, 226);
}
.contact ul li span
{
    color: #fff;
}
.contact.edu li
{
    margin-bottom: 20px;
}
.contact.edu h5
{
    justify-content: center;
    font-style: italic;
    color: #03a9f4;
    font-weight: 500;
}
.contact.edu h4
{
    padding: 3px;
    justify-content: center;
    color:#fff;
    font-weight: 500;
}
.contact.lang .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background-color:#081921;
    display: block;
    margin: 5px;
}
.contact.lang .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color:#03a9f4 ;
}
.about
{
    margin-bottom: 50px;
}
.titel2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p
{
    color: #333;
    text-align: justify;
}
.about .box
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.project
{
    letter-spacing: 1px;
    color: #333;
    text-align: justify;
}
.btn
{
    font-size: large;
    background-color:gainsboro;
}
.skill
{
        background-color: #808080; 
        border: none; 
        color: white; 
        padding: 4px 20px; 
        text-align: center; 
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px; 
}
.insterst
{
        background-color: #c5a4a4; 
        border: none; 
        color: white; 
        padding: 4px 20px; 
        text-align: center; 
        display: inline-block;
        font-size: 16px;
        margin: 4px 10px;
        cursor: pointer;
        border-radius: 12px; 
}
.certif
{
    margin: 10  px 10px;
    border-radius:50px;
}
.cer
{
    background-color: #69b2d3; 
    border: none; 
    color: white; 
    padding: 4px 20px; 
    text-align: center; 
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    margin-left :150px;
    cursor: pointer;
    border-radius: 12px; 
    
}